In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import math

In [3]:
store_info = pd.read_csv('store_info_final.csv',index_col=0)
store_info

,shop_id,shop_area_sq_ft,shop_profile,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
0,SHOP047,528,Moderate,220,220,220,220,220,220,160,...,750,4200,500,400,0,0,0,0,0,0
1,SHOP009,676,High,220,220,220,220,220,220,160,...,450,1900,3500,1500,0,0,0,0,0,0
2,SHOP083,676,Low,220,220,220,220,220,220,160,...,750,700,1300,900,0,0,630,0,0,0
3,SHOP117,676,Low,220,220,220,220,220,220,160,...,2100,1200,3200,1200,0,0,0,0,0,0
4,SHOP042,676,Low,220,220,220,220,220,220,320,...,600,1000,2200,1500,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SHOP124,606,High,220,220,220,220,220,220,320,...,1050,1000,2600,1200,0,0,0,0,0,0
96,SHOP012,336,Low,220,220,220,220,220,220,320,...,0,200,3000,800,0,0,70,0,0,0
97,SHOP093,705,High,220,220,220,220,220,220,320,...,1800,1000,1900,1500,0,0,0,0,0,0
98,SHOP004,516,Low,220,220,220,220,220,220,160,...,750,800,2300,600,0,0,0,0,0,0
99,SHOP101,691,High,220,220,220,220,220,220,160,...,450,4200,3200,1600,0,0,0,0,4550,7150

In [6]:
test_data = pd.read_csv('Testing-data.csv')
test_data

,shop_id,shop_area_sq_ft,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,TONIC PET 500ML 11 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
0,SHOP046,545,220,220,220,220,220,220,160,160,...,1200,500,3100,1500,0,0,0,0,0,0
1,SHOP024,676,220,220,220,220,220,220,160,160,...,1650,2000,4900,1200,0,0,0,0,0,0
2,SHOP023,617,220,220,220,220,220,220,160,160,...,450,300,300,500,0,0,280,0,0,0
3,SHOP097,310,220,220,220,220,220,220,160,160,...,0,700,1500,1000,0,0,0,0,0,0
4,SHOP044,715,220,220,220,220,220,220,160,160,...,1050,800,1100,700,0,0,0,0,0,0
5,SHOP030,530,220,220,220,220,220,220,160,160,...,600,1900,3100,1200,0,0,0,0,0,0
6,SHOP038,411,220,220,220,220,220,220,160,160,...,0,2100,2600,800,0,0,0,0,0,0
7,SHOP029,597,220,220,220,220,220,220,160,160,...,900,200,500,4500,0,0,0,0,0,0
8,SHOP096,676,220,220,220,220,220,220,320,160,...,750,560,3500,700,0,0,0,0,0,0
9,SHOP092,617,220,220,220,220,220,220,150,160,...,1650,2100,2400,2800,0,0,0,0,0,0
10,SHOP081,774,220,220,220,220,220,220,160,320,...,600,2300,1000,1100,0,0,0,0,0,0
11,SHOP076,676,220,220,220,220,220,220,160,160,...,1950,2200,2300,1000,0,0,0,0,0,0
12,SHOP080,554,220,220,220,220,220,220,160,300,...,900,300,1100,3600,0,0,0,0,0,0
13,SHOP074,617,220,220,220,220,220,220,160,160,...,1950,200,1000,1900,0,0,0,0,0,0
14,SHOP107,588,220,220,220,220,220,220,160,160,...,600,200,1400,1600,0,0,3360,0,0,0
15,SHOP108,676,220,220,220,220,220,220,160,160,...,150,1700,1400,1500,0,0,0,0,0,0
16,SHOP019,411,220,220,220,220,220,220,160,160,...,0,1100,1400,500,0,0,0,0,0,0
17,SHOP002,637,220,220,220,220,220,220,160,160,...,2400,1100,1700,900,0,0,0,0,0,0
18,SHOP114,513,220,220,220,220,220,220,160,160,...,1200,1700,3200,1800,0,0,840,0,0,0
19,SHOP087,527,220,220,220,220,220,220,150,160,...,1650,1500,1400,0,0,0,0,0,0,0
20,SHOP050,411,220,220,220,220,220,220,160,160,...,0,2000,1500,500,0,0,0,0,0,0
21,SHOP061,699,220,220,220,220,220,220,320,160,...,750,800,1000,2100,0,0,0,0,0,0
22,SHOP056,597,220,220,220,220,220,220,160,160,...,2700,2000,3400,1200,0,0,0,0,0,0
23,SHOP070,676,220,220,220,220,220,220,160,160,...,750,200,2200,1100,0,0,840,0,0,0

In [7]:
from sklearn.preprocessing import LabelEncoder

label_store_info = store_info.copy()
label_encoder = LabelEncoder()

label_store_info['shop_profile'] = label_encoder.fit_transform(store_info['shop_profile'])

In [8]:
label_store_info

,shop_id,shop_area_sq_ft,shop_profile,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
0,SHOP047,528,2,220,220,220,220,220,220,160,...,750,4200,500,400,0,0,0,0,0,0
1,SHOP009,676,0,220,220,220,220,220,220,160,...,450,1900,3500,1500,0,0,0,0,0,0
2,SHOP083,676,1,220,220,220,220,220,220,160,...,750,700,1300,900,0,0,630,0,0,0
3,SHOP117,676,1,220,220,220,220,220,220,160,...,2100,1200,3200,1200,0,0,0,0,0,0
4,SHOP042,676,1,220,220,220,220,220,220,320,...,600,1000,2200,1500,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SHOP124,606,0,220,220,220,220,220,220,320,...,1050,1000,2600,1200,0,0,0,0,0,0
96,SHOP012,336,1,220,220,220,220,220,220,320,...,0,200,3000,800,0,0,70,0,0,0
97,SHOP093,705,0,220,220,220,220,220,220,320,...,1800,1000,1900,1500,0,0,0,0,0,0
98,SHOP004,516,1,220,220,220,220,220,220,160,...,750,800,2300,600,0,0,0,0,0,0
99,SHOP101,691,0,220,220,220,220,220,220,160,...,450,4200,3200,1600,0,0,0,0,4550,7150

In [9]:
from sklearn.model_selection import train_test_split

X = label_store_info.copy()
y = X.shop_profile
X.drop(['shop_profile'],axis=1,inplace=True)
X.drop(['shop_id'],axis=1,inplace=True)

X_train,X_val,y_train,y_val = train_test_split(X,y,train_size=0.8,random_state=0) # 80% as training set and 20 % as validation set

In [12]:
X_train

,shop_area_sq_ft,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,TONIC PET 500ML 11 item_price,TONIC PET 500ML 12 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
43,706,220,220,220,220,220,220,160,160,160,...,1050,500,2800,600,0,0,0,0,0,0
62,810,220,220,220,220,220,220,160,160,160,...,600,800,1800,1800,0,0,0,0,0,0
3,676,220,220,220,220,220,220,160,160,160,...,2100,1200,3200,1200,0,0,0,0,0,0
71,617,220,220,220,220,220,220,480,160,160,...,1950,3000,2200,1100,0,0,0,0,0,0
45,617,220,220,220,220,220,220,160,160,160,...,750,900,1400,800,0,0,2100,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,336,220,220,220,220,220,220,320,160,160,...,0,200,3000,800,0,0,70,0,0,0
67,520,220,220,220,220,220,220,160,160,160,...,450,3200,1600,1000,0,0,1400,0,0,0
64,617,220,220,220,220,220,220,160,160,160,...,2400,1000,3400,1800,0,0,0,0,0,0
47,617,220,220,220,220,220,220,160,160,160,...,1200,300,2700,900,0,0,420,0,0,0
44,617,220,220,220,220,220,220,150,160,160,...,900,2800,3800,1200,0,0,0,0,7800,0

In [11]:
test4 = test_data.copy()
test4.drop(['shop_id'],axis=1,inplace=True)
test4

,shop_area_sq_ft,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,TONIC PET 500ML 11 item_price,TONIC PET 500ML 12 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
0,545,220,220,220,220,220,220,160,160,160,...,1200,500,3100,1500,0,0,0,0,0,0
1,676,220,220,220,220,220,220,160,160,320,...,1650,2000,4900,1200,0,0,0,0,0,0
2,617,220,220,220,220,220,220,160,160,160,...,450,300,300,500,0,0,280,0,0,0
3,310,220,220,220,220,220,220,160,160,160,...,0,700,1500,1000,0,0,0,0,0,0
4,715,220,220,220,220,220,220,160,160,160,...,1050,800,1100,700,0,0,0,0,0,0
5,530,220,220,220,220,220,220,160,160,160,...,600,1900,3100,1200,0,0,0,0,0,0
6,411,220,220,220,220,220,220,160,160,160,...,0,2100,2600,800,0,0,0,0,0,0
7,597,220,220,220,220,220,220,160,160,160,...,900,200,500,4500,0,0,0,0,0,0
8,676,220,220,220,220,220,220,320,160,160,...,750,560,3500,700,0,0,0,0,0,0
9,617,220,220,220,220,220,220,150,160,160,...,1650,2100,2400,2800,0,0,0,0,0,0
10,774,220,220,220,220,220,220,160,320,160,...,600,2300,1000,1100,0,0,0,0,0,0
11,676,220,220,220,220,220,220,160,160,160,...,1950,2200,2300,1000,0,0,0,0,0,0
12,554,220,220,220,220,220,220,160,300,160,...,900,300,1100,3600,0,0,0,0,0,0
13,617,220,220,220,220,220,220,160,160,160,...,1950,200,1000,1900,0,0,0,0,0,0
14,588,220,220,220,220,220,220,160,160,160,...,600,200,1400,1600,0,0,3360,0,0,0
15,676,220,220,220,220,220,220,160,160,160,...,150,1700,1400,1500,0,0,0,0,0,0
16,411,220,220,220,220,220,220,160,160,160,...,0,1100,1400,500,0,0,0,0,0,0
17,637,220,220,220,220,220,220,160,160,160,...,2400,1100,1700,900,0,0,0,0,0,0
18,513,220,220,220,220,220,220,160,160,160,...,1200,1700,3200,1800,0,0,840,0,0,0
19,527,220,220,220,220,220,220,150,160,160,...,1650,1500,1400,0,0,0,0,0,0,0
20,411,220,220,220,220,220,220,160,160,160,...,0,2000,1500,500,0,0,0,0,0,0
21,699,220,220,220,220,220,220,320,160,160,...,750,800,1000,2100,0,0,0,0,0,0
22,597,220,220,220,220,220,220,160,160,160,...,2700,2000,3400,1200,0,0,0,0,0,0
23,676,220,220,220,220,220,220,160,160,320,...,750,200,2200,1100,0,0,840,0,0,0

In [19]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
# instantiate
dtc = DecisionTreeClassifier()
# fit
dtc.fit(X_train, y_train)


# xgboost classifier

# from xgboost import XGBClassifier
# model = XGBClassifier(n_estimators=500, learning_rate=0.05)
# model.fit(X_train,y_train)

# importance = model.feature_importances_
# # summarize feature importance
# for i,v in enumerate(importance):
#  print('Feature: %0d, Score: %.5f' % (i,v))
# # plot feature importance
# plt.bar([x for x in range(len(importance))], importance)
# plt.show()

# random forest classifier
from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier(n_estimators=1500, random_state=0)
# model.fit(X_train,y_train)

# predictions = model.predict(X_val)

# Catboost classifier
# from catboost import CatBoostClassifier
# model = CatBoostClassifier(iterations=850,learning_rate=0.01)
# model.fit(X_train,y_train)


from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import f1_score,auc,precision_recall_curve
from sklearn.metrics import roc_curve, roc_auc_score


# plot the Receiver Operating Characteristic (ROC) and calculate the Area Under the ROC curve(AUC_score)

preds_prob = model.predict_proba(X_val)
predictions = model.predict(X_val)

print("Confusion Matrix: ")
print(confusion_matrix(y_val,predictions)) # confusion matrix

print(classification_report(y_val,predictions)) # classification report

f1_score = f1_score(y_val,predictions,average='macro') #F1 score
print("F1 Score: ",f1_score)

c:\Python37\cv\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[16:31:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:
[[6 0 2]
 [0 4 1]
 [0 7 0]]
              precision    recall  f1-score   support

           0       1.00      0.75      0.86         8
           1       0.36      0.80      0.50         5
           2       0.00      0.00      0.00         7

    accuracy                           0.50        20
   macro avg       0.45      0.52      0.45        20
weighted avg       0.49      0.50      0.47        20

F1 Score:  0.4523809523809524

In [ ]:
### save the model--------------------------------------------------------
import joblib

filename = "checkpoints/xgboost_1000_0.005.joblib"
joblib.dump(model, filename)

In [20]:
preds_test = model.predict(test4)
print(preds_test)

convertion = {0:'High',1:'Low',2:'Moderate'}
new_preds_test = []
for i in preds_test:
    new_preds_test.append(convertion[i])
print(new_preds_test)

[0 1 1 2 2 1 1 1 2 1 2 1 1 0 2 1 1 1 0 2 1 1 0 1]
['High', 'Low', 'Low', 'Moderate', 'Moderate', 'Low', 'Low', 'Low', 'Moderate', 'Low', 'Moderate', 'Low', 'Low', 'High', 'Moderate', 'Low', 'Low', 'Low', 'High', 'Moderate', 'Low', 'Low', 'High', 'Low']

In [22]:
output = pd.DataFrame({'shop_id':test_data.shop_id,'shop_profile': new_preds_test})
output.to_csv('Datastorm.csv',index=False)